@import url("https://fonts.googleapis.com/css?family=Lora");
@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");
@import url("https://fonts.googleapis.com/css?family=Kumar+One");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.header {
  padding: 200px 100px;
  color: white;
  margin: auto;
  text-align: center;
  z-index: -999;
}

#head {
  padding-bottom: 25px;
  font-family: "Montserrat Subrayada";
  font-size: 200px;
}

#subtitle {
  font-family: "PT Sans Narrow";
  font-size: 50px;
}

#navigation a {
  text-decoration: none;
  color: white;
  font-family: "Raleway";
  line-height: 2em;
  font-size: 45px;
  font-weight: light;
  font-style: italic;
}

a:hover {
  opacity: 0.5;
}

h3 {
  color: white;
  font-family: "Ubuntu";
}

p {
  color: white;
  font-family: "Open Sans";
}

.nav {
	text-align: center;
	z-index: 1;
	overflow: hidden;
	padding-top: 45px;
	margin: auto;
}

.infoheader {
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 250px;
	padding-top: 150px;
}

#infohead {
	font-family: "Montserrat Subrayada";
	font-size: 100px;
	text-align: center;
	color: white;
}

.infobodyone {
	color: white;
	padding: 100px 50px;;
	background-image: url("nebula.gif");
	height: 1080px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.info {
	font-family: "Roboto Condensed";
	font-size: 50px;
}

.frontpage {
	padding-top: 50px;
}

.infotext {
	font-family: Raleway;
	font-style: italic;
	padding-top: 25px;
	padding-bottom: 10px;
	width: 750px;
}

.bibliography {
	padding-left: 50px;
	padding-bottom: 50px;
	padding-top: 25px;
}

.infobodytwo {
	color: white;
	padding: 100px 50px;
	background-image: url("stars.jpg");
	height: 540px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 50px;
}

.modelo-wrapper {
	padding-top: 25px;
	padding-bottom: 25px;
	display: block;
}

.infobodythree {
	color: white;
	padding: 100px 50px;
	background-image: url("space.jpg");
	height: 540px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 50px;
}

.infobodyfour {
	color: white;
	padding: 100px 50px;
	background-image: url("galaxies.jpg");
	height: 540px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 50px;
}

.infosubheader {
	font-family: "Roboto Condensed";
	font-size: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.infobodyfive {
	color: white;
	padding: 100px 50px;
	background-image: url("universe.jpg");
	height: 540px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 50px;
}

.credits {
	font-size: 25px;
	font-style: italic;
	padding-left: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
}