@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@font-face {
	font-family: "Something Strange";
	src:
	  url("SomethingStrange.ttf");
}

@font-face {
	font-family: "Vamp";
	src: 
	  url("Vampire.ttf");
}

@font-face {
	font-family: "Blood";
	src: 
	  url("Blood.ttf");
}

@font-face {
	font-family: "Murder";
	src: 
	  url("Murder.otf");
}

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
}

.header {
	/*background-image: url("midnight-forest-1.jpg*/
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	text-align: center;
	padding: 50px;
}

.header a, h1, p {
	color: white;
	text-decoration: none;
}

nav {
	display: inline-block;
}

a:hover {
	opacity: 0.5;
}

#navigation {
	padding-top: 50px;
	padding-bottom: 25px;
	font-size: 30px;
	font-family: Blood;
	width: 75%;
	margin: auto;
}

#head {
	font-size: 95px;
	letter-spacing: 10px;
	padding-bottom: 15px;
	font-family: "Something Strange";
	text-align: center;
	color: red;
}

#subtitle {
	font-size: 30px;
	width: 50%;
	margin: auto;
	font-family: Vamp;
	text-align: center;
}

.subheader {
	color: white;
	font-size: 35px;
		padding-left: 125px;
		padding-top: 50px;
		font-family: "Roboto Condensed";
		font-weight: bold;
}

.text {
	color: white;
	font-size: 25px;
		padding-left: 125px;
		padding-top: 50px;
		width: 700px;
		font-family: Oswald;
}

.body {
	padding-top: 50px;
}

.logo {
	padding: 50px 50px;
	width: 400px;
	height: 400px;
	
}